name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: windows-2022
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'

    - name: Download Dalamud
      run: |
        Invoke-WebRequest -Uri https://goatcorp.github.io/dalamud-distrib/latest.zip -OutFile latest.zip
        Expand-Archive -Force latest.zip "$env:AppData\XIVLauncher\addon\Hooks\dev"

    - name: Build
      run: dotnet build --configuration Release

    - name: Create Release
      uses: softprops/action-gh-release@v1
      with:
        files: Understudy/bin/Release/Understudy/latest.zip
        name: ${{ github.ref_name }}
        tag_name: ${{ github.ref_name }}
        body: |
          ${{ github.ref_name }}

    - name: Trigger Dispatch
      if: success()
      uses: peter-evans/repository-dispatch@v2
      with:
        token: ${{ secrets.PAT }}
        repository: aventurescence/churinplugins
        event-type: update-pluginmaster
        client-payload: '{"name": "Understudy", "version": "${{ github.ref_name }}", "download_url": "https://github.com/${{ github.repository }}/releases/download/${{ github.ref_name }}/latest.zip"}'
